/* Author: Lindsay
   Date: October, 2018
   Purpose: student project
 */

.check-box, #btnForgot, #btnForgotPassword{
    -fx-background-color: #503050;
    -fx-text-fill: #f0f0f0;
}

#btnLogin {
     -fx-background-color: #3eb4c1;
     -fx-text-fill: #f0f0f0;
}

#lblCompanyName {
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-font-size: 21px;
    -fx-text-fill: #3eb4c1;
}

#lblMessage {
    -fx-text-fill: #f4426e;
}






