/* Author: Lindsay
   Date: October, 2018
   Purpose: student project
 */

.button {
    -fx-background-color: #00994d;
    -fx-text-fill: #f0f0f0;
}

#lblMessage{
    -fx-text-fill: red;
}

.fieldMsg {
    -fx-text-fill: red;
    -fx-padding: 5px;
}


