/* Author: Lindsay
   Date: October, 2018
   Purpose: student project
 */
.tableButton, .userButton {
    -fx-background-color: #503050;
    -fx-text-fill: #f0f0f0;
    -fx-font-size: 18px;
}

.tableButton:hover, .userButton:hover {
    -fx-background-color: #1a001a;
}

.tableButton:pressed {
    -fx-background-color: #cccc00;
    -fx-text-fill: #000000;
}

.tableButton:focused {
    -fx-background-color: #cccc00;
    -fx-text-fill: #000000;
}

#btnDelete,#btnSave,#btnEdit,#btnAdd  {
        -fx-background-color: #ffffff;
}

#btnDelete:hover, #btnSave:hover, #btnEdit:hover, #btnAdd:hover {
        -fx-background-color: #f2f2f2;
}

.bottomButton{
    -fx-font-size: 18px;
    -fx-background-color: #00994d;
    -fx-text-fill: #f0f0f0;
}

.fieldMsg {
    -fx-text-fill: red;
    -fx-padding: 5px;
}


